extends layout/_layout

block content
  // Email content
  table.container
    tr
      td
        // email header goes here
        include layout/_header

        // email content goes here

        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    h1 Привіт всім!
                    p.lead Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.  
                    p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.           
                  td.expander
                    
        table.row.callout
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.panel
                    p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. 
                      a(href='#') Click it! &raquo;              
                  td.expander

        // email footer goes here
        include layout/_footer
