extends layout/_layout

block content
  // Email content
  table.container
    tr
      td
        // email header goes here
        include layout/_header

        // email content goes here
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.text-pad
                    h1 Привіт всім!
                    p.lead Phasellus dictum sapien a luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.  
                    //- hr
                  td.expander


        //- Include arctile mixin
        include layout/_article.jade
        //- For each item in article array call article mixin
        each item in articles
          +article(item)            


        table.row.callout
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.panel
                    p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. 
                      a(href='#') Click it! &raquo;              
                  td.expander


        // email footer goes here
        include layout/_footer
