$white-color: #fff;

@import 'overrides';
@import 'ink';

// Custom styles goes below

body,
.body {
  background-color: $secondary-color;
}

.container {
  background-color: $white-color;
}

.sub-header {
  background-color: lighten($primary-color, 10%);
}

.header {
  background-color: $primary-color;
}
