//- FOOTER
//- Here is footer and sub-footer of email

table.row.footer
  tr
    td.wrapper
      table.six.columns
        tr
          td.left-text-pad
            h5 Connect With Us:           
            table.tiny-button.facebook
              tr
                td
                  a(href='#') Facebook      
            //- br
            table.tiny-button.twitter
              tr
                td
                  a(href='#') Twitter                  
            //- br
            table.tiny-button.google-plus
              tr
                td
                  a(href='#') Google +              
          td.expander
    td.wrapper.last
      table.six.columns
        tr
          td.last.right-text-pad
            h5 Contact Info:           
            p Phone: 408.341.0600              
            p Email: 
              a(href='mailto:hseldon@trantor.com') hseldon@trantor.com               
          td.expander

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td(align='center')
            center
              p(style='text-align:center;')
                a(href='#') Terms
                |  | 
                a(href='#') Privacy
                |  | 
                a(href='#') Unsubscribe
          td.expander
