//- HEADER
//- Here is sub-header and main header of email

table.row.sub-header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.six.sub-columns ІТ-новини України та світу
          td.six.sub-columns.last(style='text-align:right; vertical-align:middle;')
            span.template-label Переглянути лист у браузері
          td.expander

table.row.header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.twelve.sub-columns.center(align="center")
            center
              h1 Останні новини Codeguida
