//- HEADER
//- Here is sub-header and main header of email

table.row.sub-header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.six.sub-columns.sub-title ІТ України та світу
          td.six.sub-columns.open-in-browser
            a(href='#') Відкрити у браузері
          td.expander

table.row.header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h1.center.mail-title Новини від Codeguida
          td.expander
