table.row.header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.six.sub-columns.center Codeguida
          td.six.sub-columns.last(style='text-align:right; vertical-align:middle;')
            span.template-label BASIC
          td.expander
