//- HEADER
//- Here is sub-header and main header of email

table.row.sub-header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.six.sub-columns.sub-title
            != meta.header
          td.six.sub-columns.open-in-browser
            a(href=meta.external.href, target="_blank", title=meta.external.title)
              != meta.external.title
          td.expander

table.row.header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h1.center.mail-title
              != meta.title
          td.expander
